<ion-header>
  <ion-navbar color="primary">
    <ion-title>Lista de pendientes</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let lista of _listaDeseos.listas;  let i = index">
        <ion-item>
            <h2> #{{i}} {{lista.nombre}}</h2>
        </ion-item>
        <ion-list>
            <ion-item>
                <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
                Item 1
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
                Item 2
            </ion-item>
            <ion-item>
                <ion-icon ios="ios-arrow-dropright-circle" md="md-arrow-dropright-circle"></ion-icon>
                Item 3
            </ion-item>
        </ion-list>
    </ion-card>

    <ion-fab right bottom>
    <button ion-fab color="primary" (click)="irAgregar()">
        <ion-icon ios="ios-add" md="md-add"></ion-icon>
    </button>

  </ion-fab>
</ion-content>
